<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut  tu as un nouveau participant à ton event !</h1>
    <p>
      Voici ton nouveau participant : 
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>